<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white flex-column border-0  ">
    <div class="container-fluid">
        <div class="w-100">
            <div class="d-flex justify-content-between align-items-center flex-wrap">

                <!-- Logo-->
                <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0 order-0" href="./index.html">
                    <div class="d-flex align-items-center">
                        <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26"><path d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z" fill="currentColor" fill-rule="evenodd"/></svg>
                    </div>
                </a>
                <!-- / Logo-->

                <!-- Navbar Icons-->
                <ul class="list-unstyled mb-0 d-flex align-items-center order-1 order-lg-2 nav-sidelinks">

                    <!-- Mobile Nav Toggler-->
                    <li class="d-lg-none">
                        <span class="nav-link text-body d-flex align-items-center cursor-pointer" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation"><i class="ri-menu-line ri-lg me-1"></i> Menu</span>
                    </li>
                    <!-- /Mobile Nav Toggler-->

                    <!-- Navbar Search-->
                    <li class="d-none d-sm-block">
                        <span class="nav-link text-body search-trigger cursor-pointer">Search</span>

                        <!-- Search navbar overlay-->
                        <div class="navbar-search d-none">
                    
                                <form action="{% url 'searchmovies' %}" method="post" class="d-flex">
                                    {% csrf_token %}
                                    <input class="form-control me-2" type="search" placeholder="Search movies" aria-label="Search">
                                    <button class="btn btn-outline-danger" type="submit">Search</button>
                                </form>
                            
                        </div>
                        <div class="search-overlay"></div>
                        <!-- / Search navbar overlay-->

                    </li>
                    <!-- /Navbar Search-->




                    <!-- Navbar account-->
                    <li class="ms-1 d-none d-lg-inline-block">
                        <a class="nav-link text-body" href="{% url 'movielist' %}">
                            Movies
                        </a>
                    </li>
                    <!-- /Navbar -->




                    {% if user.is_authenticated %}
                    <!-- Navbar account-->
                    <li class="ms-1 d-none d-lg-inline-block">
                        <a class="nav-link text-body" href="{% url 'dashboard'%}">
                            Account
                        </a>
                    </li>
                    <!-- /Navbar -->
                     {% endif %}

                     {% if not user.is_authenticated %}
                     <li class="ms-1 d-none d-lg-inline-block">
                        <a class="nav-link text-body" href="{% url 'login'%}">
                            SignUp/Login
                        </a>
                    </li>
                     {% endif %}
                     


                </ul>
                <!-- Navbar Icons-->                

                <!-- Main Navigation-->
                <div class="flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1 order-2 order-lg-1"
                    id="navbarNavDropdown">

                    <!-- Menu-->
                                       <!-- / Menu-->

                </div>
                <!-- / Main Navigation-->

            </div>
        </div>
    </div>
</nav>
<!-- / Navbar-->   
  