{% load static %}
<!doctype html>
<html lang="en">

<!-- Head -->
<head>
  <!-- Page Meta Tags-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <!-- Custom Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
    rel="stylesheet">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon/favicon-16x16.png' %}">
  <link rel="mask-icon" href="{% static 'assets/images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/libs.bundle.css' %}" />

  <!-- Main CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/theme.bundle.css' %}" />

  <!-- Fix for custom scrollbar if JS is disabled-->
  <noscript>
    <style>
      /**
          * Reinstate scrolling for non-JS clients
          */
      .simplebar-content-wrapper {
        overflow: auto;
      }
    </style>
  </noscript>

  <!-- Page Title -->
  <title>OldSkool | Bootstrap 5 HTML Template</title>

</head>
<body class="">

    <!-- Navbar -->
    
    <!-- / Navbar-->    


        <div class="container-fluid mt-5">

            <!-- Product Top Section-->
            <div class="row g-9" data-sticky-container style="overflow: hidden;">

                <!-- Product Images-->
                <div class="col-12 col-md-6 col-xl-7" >
                    <div class="row g-3" data-aos="fade-right">
                        <div >
                            <picture>
                                <img class="img-fl" data-zoomable src="{{movie.poster.url}}" alt="movie poster" style="width: 85%; " >
                            </picture>
                        </div>
                        
                    </div>
                </div>
                <!-- /Product Images-->
    
                <!-- Product Information-->
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="sticky-top top-5">
                        <div class="pb-3" data-aos="fade-in">
                            <div class="d-flex align-items-center mb-3">
                               
                                <div class="d-flex justify-content-start align-items-center disable-child-pointer cursor-pointer"
                                data-pixr-scrollto
                                data-target=".reviews">
                              
                            </div>
                            </div>
                            
                            <h1 class="mb-1 fs-2 fw-bold">{{movie.title}}</h1>
                            
                            <div class="border-top mt-4 mb-3 product-option">
                                <small class="text-uppercase pt-4 d-block fw-bolder">
                                    <span class="text-muted">Release Date:</span> : <span class="selected-option fw-bold"
                                        data-pixr-product-option="size">{{movie.releaseDate}} </span>
                                </small>
                                <small class="text-uppercase pt-4 d-block fw-bolder">
                                    <span class="text-muted">Director</span> : <span class="selected-option fw-bold"
                                        data-pixr-product-option="size">{{movie.director}}</span>
                                </small>
                                <small class="text-uppercase pt-4 d-block fw-bolder">
                                    <span class="text-muted">Category</span> : <span class="selected-option fw-bold"
                                        data-pixr-product-option="size">{{movie.type}}</span>
                                </small>
                                <small class="text-uppercase pt-4 d-block fw-bolder">
                                    <span class="text-muted">Actors</span> : <span class="selected-option fw-bold"
                                        data-pixr-product-option="size"> {{movie.actors}}</span>
                                </small>
                                <small class="text-uppercase pt-4 d-block fw-bolder">
                                    <span class="text-muted">Rating</span> : <span class="selected-option fw-bold"
                                        data-pixr-product-option="size"> {{movie.rating}}</span>
                                </small>
                                
                            </div>
                            <!-- Product Accordion -->
                            <div class="accordion" id="accordionProduct">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Product Details
                                    </button>
                                  </h2>
                                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionProduct">
                                    <div class="accordion-body">
                                        <p class="m-0"> {{movie.description}} </p>
                                    </div>
                                  </div>
                                </div>
                                
                              </div>
                            <!-- / Product Accordion-->
                            
                            <a href="{{ movie.youTubeLink}}" class="btn btn-dark w-100 mt-4 mb-0 hover-lift-sm hover-boxshadow">YouTube trailer</a>
                        
                            
                            
                        </div>                    </div>
                </div>
                <!-- / Product Information-->
            </div>
            <!-- / Product Top Section-->

            

               

               
        <!-- /Page Content -->
    </section>
    <!-- / Main Section-->

   

    <!-- Theme JS -->
    <!-- Vendor JS -->
    <script src="{% static 'assets/js/vendor.bundle.js' %}"></script>
    
    <!-- Theme JS -->
    <script src="{% static 'assets/js/theme.bundle.js' %}"></script>
</body>

</html>